*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.greek{
    font-family: 'Caesar Dressing', cursive;
    color: #4c7bbe;
}
.logo{
    font-size: 4.3rem;
    text-align: center;
}
.menu > ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: white;
    text-align: center;
}
.menu > ul > a{
    padding: 20px;
}
#loading{
    text-align: center;
    padding-top: 50px;
}
footer{
    background-color: #ebebeb;
    text-align: center;
}
.foot{
    text-align: center;
    padding: 30px;
    list-style-type: none;
}
.flex, .foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imgposts{
    width: 100%;
}
.posts{
    display: none;
}
.slider {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .right {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .left:hover, .right:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .title {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

/* Contact */

form > div { margin: 8px 0; }
span#dobMsg { color: gray; }
label { display: inline-block; width: 100px; text-align: right; }
input[type=submit] { margin-left: 105px; }